.image {
    display: inline-block;
    margin-left: 1%;
    padding-bottom: 1%;
}
.im {
    display: inline;
}

body {
    background: linear-gradient(90deg, #76e85f 0%, #ffffff 100%);
    padding: 0, 0%;
}

.navbar-brand>img {
    display: inline-block;
}

.dropdown-item {
    background: linear-gradient(180deg, #5fe8a1 0%, #ffffff 100%);
    padding: -0.2%
}

.nav-link,
dropdown {
    background: linear-gradient(360deg, #5fe8a1 0%, #ffffff 100%);
    font-weight: unset;
    font-family: Tahoma;
    font-style: oblique;
}

.bg {
    height: 10vh;
    width: 50%;
    position: absolute;
}

.font-effect-3d {
    font-size: 20px;
    padding-top: 5px;
    color: rgb(255, 248, 248);
    display: inline-block;
    margin-left: 1%;
    
}

.font-effect-anaglyph {
    background: linear-gradient(180deg, #fffeff 0%, #6ef705 100%);
    display: inline-block;
    margin-right: 5%;
    margin-left: 5%;
    font-size: 20px;
    border: solid 5px aqua;
}

.font-effect-fire-animation {
    font-size: auto;
    margin-right: 5%;
    margin-left: 5%;
    display: inline;
    border: solid 5px gold;
}

.font-effect-neon {
    font-size: auto;
    margin-right: 5%;
    margin-left: 5%;
    display: inline-block;
    border: solid 1px rgb(172, 50, 50);
    color: darkred;
}

.container-fluid {
    padding: 0%;
}

.col-lg-2 {
    padding: 0.2%;
}

.font-effect-outline {
    display: inline-block;
    background: linear-gradient(90deg, #fffeff 0%, #6ef705 100%);

}
