body {
    background: linear-gradient(90deg, #76e85f 0%, #ffffff 100%);
    padding: 0;
    margin: 0;
}
a {
    text-decoration: none;
}
.image {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0;
}

.font-effect-3d {background: rgb(131,58,180);
background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
}

input {
    font-size: auto;
    color: red;
    font-style: italic;
    box-shadow: 0 2px 4px black;
    margin: 1px;
    padding-left: 1px;
    padding-right: 1px;
}

.dropdown-item {
    background: linear-gradient(180deg, #5fe8a1 0%, #ffffff 100%);
    padding: 0.1px;
    margin: 0;
    display: inline-block;
}

.nav-link,
.dropdown {
    background: linear-gradient(360deg, #5fe8a1 0%, #ffffff 100%);
    font-weight: unset;
    font-family: Tahoma;
    font-style: oblique;
    margin: 0;
    padding: 0.1px;
}

.col-lg-2 {
    background: linear-gradient(90deg, #fffeff 0%, #6ef705 100%);
    margin: 0;
    padding: 0;
}

#collapseOne {
    background: linear-gradient(135deg, #fffeff 0%, #6ef705 100%);
}

#collapseTwo {
    background: linear-gradient(225deg, #fffeff 0%, #6ef705 100%);
}
#collapseThree {
    background: linear-gradient(315deg, #fffeff 0%, #6ef705 100%);
}

.col-lg-6 {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100vh;
    padding: 0;
    margin: 0;
    position: relative;
}

video {
    display: inline-flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0;
    margin: 1px;
    width: 100%;
}

h4 {
    display: inline-flex;
    text-align: content;

    position: absolute;
  top: 1%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  color: gold;
  font-size: 5px;
  font-weight: normal;
}

.contact {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0;
}

.qr {
  filter: brightness(150%);
}

/*
.qr {
  width: 300px;
  height: 300px;
  object-fit: cover;
}

.qr {
  border-radius: 10px;
}

// HTML
<div class="image-container">
  <img src="https://source.unsplash.com/tMHAmxLyzvA" alt="Boston city skyline" >
  <div class="image-text">Welcome to Kinsta</div>
</div>

// CSS

.qr {
  position: relative;
}


.ahref {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  color: white;
  font-size: 20px;
  font-weight: bold;
} */

.font-effect-outline {
    display: block;
    color: red;
    font-size: auto;
    text-align: center;
}

.font-effect-3d {
    font-size: auto;
    padding-top: 5px;
    padding-right: 0.1em;
    color: rgb(255, 248, 248);
    display: inline-block;
}

.font-effect-anaglyph {
    background: linear-gradient(180deg, #fffeff 0%, #6ef705 100%);
    margin-right: 0.5em;
    padding: 1px;
    font-size: auto;
    border: solid 1px green;
    box-shadow: 0 2px 4px black;
    display: inline-block; 
}
.font-effect-anaglyph:hover {
    text-decoration: none;
}

.font-effect-fire-animation {
    font-size: auto;
    margin-right: 0.5em;
    padding: 1px;
    border: solid 1px green;
    background: linear-gradient(180deg, #fffeff 0%, #6ef705 100%);
    box-shadow: 0 2px 4px black;
    display: inline-block;
}
.font-effect-fire-animation:hover {
    text-decoration: none;
}
.font-effect-neon {
    font-size: auto;
    margin: 0;
    padding: 1.5px;
    margin-left: 2px;
    display: inline-block;
    border: solid 0.5px green;
    color: hsla(240, 100%, 54%, 1);
    box-shadow: 0 2px 4px black;
}
.font-effect-neon:hover {
    text-decoration: none;
}

@media (
    min-width:768px) {
    .col-lg-6,
    .col-lg-4,
    .contact,
    .hrefbutton,
    {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        padding: 0;
        margin: 1px;
    }
    
    h6 {
        display: block;
    }
    
    
    p {
        display: inline-block;
    }
    .col-lg-6 {
        width: 100vh;
    }
    video {
        margin: 0px;
        padding: 0px;
        width: 80%;
        text-align: content;
    }
    h4 {
        display: block;
    text-align: content;
    color: gold;
}
    }

@media screen and (max-width: 768px) {
  .qr {
    max-width: 50%;
  }
}
