.image {
    display: inline-block;
    margin-left: 1%;
    padding-bottom: 1%;
}
.im {
    display: inline;
}

body {
    background: linear-gradient(90deg, #76e85f 0%, #ffffff 100%);
    padding: 0;
    margin: 0;
}

.navbar-brand>img {
    display: inline-block;
}

.dropdown-item {
    background: linear-gradient(180deg, #5fe8a1 0%, #ffffff 100%);
    padding: 0.5%;
    margin: 0.5%;
    display: flex;
}

.nav-link,
dropdown {
    background: linear-gradient(360deg, #5fe8a1 0%, #ffffff 100%);
    font-weight: unset;
    font-family: Tahoma;
    font-style: oblique;
    margin: 0.5%;
    padding: 0.5%;
}
        
.bg {
    height: auto;
    display: block;
    width: 100%;
    text-align: center;
    padding-top: 5%;
}

.font-effect-outline {
    display: block;
    color: red;
    font-size: auto;
    text-align: center;
}
.col-lg-3 {
    display: inline;
    padding: 0%;
    margin: 0%;
    text-align: center;
}

.font-effect-3d {
    font-size: auto;
    padding-top: 5px;
    color: rgb(255, 248, 248);
    display: inline-block;
    margin-left: 0;
}

.font-effect-anaglyph {
    background: linear-gradient(180deg, #fffeff 0%, #6ef705 100%);
    display: inline-block;
    margin-right: 0;
    margin-left: 0;
    padding: 1%;
    font-size: auto;
    border: solid 1px green;
}
.font-effect-anaglyph:hover {
    text-decoration: none;
}

.font-effect-fire-animation {
    font-size: auto;
    margin-right: 0;
    margin-left: 0;
    padding: 1%;
    display: inline;
    border: solid 1px gold;
}
.font-effect-fire-animation:hover {
    text-decoration: none;
}
.font-effect-neon {
    font-size: 50%;
    margin: 0.5%;
    padding: 0.5%;
    display: inline-block;
    border: solid 0.5px rgb(172, 50, 50);
    color: darkred;
    text-align: center;
}
.font-effect-neon:hover {
    text-decoration: none;
}

/*.carousel-inner{
carousel-dark-indicator-active-bg:  yellow;
carousel-dark-caption-color:        yellow;
carousel-dark-control-icon-filter:  invert(1) grayscale(100);
carousel-indicator-width:           50px; 
}*/

/*.carousel-indicators {
    border: solid 5px blue;
    carousel-dark-indicator-active-bg:  black;
    carousel-dark-caption-color:        black;
    carousel-dark-control-icon-filter:  invert(1) grayscale(100);

    carousel-indicator-width:           30px;
carousel-indicator-height:          3px;
carousel-indicator-hit-area-height: 10px;
carousel-indicator-spacer:          3px;
carousel-indicator-opacity:         .5;
carousel-indicator-active-bg:       red;
carousel-indicator-active-opacity:  1;
carousel-indicator-transition:      opacity .6s ease;
    
}

.carousel-control-prev-icon {
    border: solid 5px yellow;
}
.carousel-control-next-icon {
    border: solid 5px white;
}
#carouselExampleIndicators {
    border: solid 5px gold;
}

.carousel-control {
carousel-control-color:             black;
carousel-control-width:             15%;
carousel-control-opacity:           .5;
carousel-control-hover-opacity:     .9;
carousel-control-transition:        opacity .15s ease;
}
$carousel-control-color:             $white;
$carousel-control-width:             15%;
$carousel-control-opacity:           .5;
$carousel-control-hover-opacity:     .9;
$carousel-control-transition:        opacity .15s ease;

$carousel-indicator-width:           30px;
$carousel-indicator-height:          3px;
$carousel-indicator-hit-area-height: 10px;
$carousel-indicator-spacer:          3px;
$carousel-indicator-opacity:         .5;
$carousel-indicator-active-bg:       $white;
$carousel-indicator-active-opacity:  1;
$carousel-indicator-transition:      opacity .6s ease;

$carousel-caption-width:             70%;
$carousel-caption-color:             $white;
$carousel-caption-padding-y:         1.25rem;
$carousel-caption-spacer:            1.25rem;

$carousel-control-icon-width:        2rem;

$carousel-control-prev-icon-bg:      url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='#{$carousel-control-color}'><path d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/></svg>");
$carousel-control-next-icon-bg:      url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='#{$carousel-control-color}'><path d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/></svg>");

$carousel-transition-duration:       .6s;
$carousel-transition:                transform $carousel-transition-duration ease-in-out; // Define transform transition first if using multiple transitions (e.g., `transform 2s ease, opacity .5s ease-out`)*/

